* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  ::-webkit-scrollbar{
    display: none;
  }
  /* top-header-css */
.t-h-container{
    width: 100%;
    margin: 0 auto;
    background-color: white;
}  
.t-h-wrapper{
    width: 90%;
    margin: 0 auto;
    background-color: white;
    height: 50px;
}
.top-header ul{
    list-style-type: none;
}
.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px;
}
.r-r{
    display: flex;
    gap: 25px;
}
.r-r li {
    font-size: 1.5rem;
}
/* ------- 2-header------- */

.M-header-container{
    width: 100%;
    margin: 0 auto;
    background-color: white;
    font-size: xx-large;

}
.M-h-wrapper{
    width: 90%;
    margin: 0 auto;
    background-color: white;
    padding: 6px;
    font-size: 70px;
}
.mini-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mini-main ul{
    list-style-type: none;
}
.d-d{
    display: flex;
    gap: 1rem;
}
.main-header{
    background-color: rgb(247, 247, 247);
    padding: 2rem;
    font-size:xx-large;
}
.d-d li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    size: 0.5rem;
    font-size: 1.6rem;

}

.search-container {
    display: flex;
    padding-top: 5px;
    gap: 0px;
}

.btn-small {
    background-color: rgb(36, 76, 220);
    color: aliceblue;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    height: 50px;
    font-size: 1.5rem;
  
}

.search {
    padding: 1rem;
    height: 50px;
    border: 1px solid #ccc;
    flex: 1;
    width: 530px;
    font-size:27px ;
   
}
.d-d li{
    font-size: 1.5rem;
}
/* ----hero-header---- */
.hero-container{
    width: 100%;
    margin: 0 auto;
    background-color: #0D52D6;   
}
.hero-wrapper{
    width: 90%;
    margin: 0 auto;
    background-color: #0D52D6;
}
.main-header-2{
    background-color:rgb(13, 82, 214);
    padding: .1rem;
    font-size:large;

}

.mini-main-2{
    display: flex;
    justify-content: space-between ;
  
}
.mini-main-2 ul{
    list-style-type: none;
}
.d-d-2{
    display: flex;
    gap: 20px;
    padding-left: 10px;
}
.d-d-2 a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    /* font-size: 15px; */
}
.d-d-3{
    display: flex;
    gap: 30px;
    padding-right: 10px;
}
.d-d-3 a{
    color: white;
    padding: 15px;
    text-align: center;
}
.d-d-3 li{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
   
    padding: 15px;
    text-align: center;
}
  
.all-department a{
    background-color:rgb(254, 212, 48);
    color: black;
    height: 100%;
}
.blog {
    color: black;
    background-color: rgb(254, 212, 48);
}
.d-d-2 li{
    font-size: 25px;
}
.d-d-3 li{
    font-size: 25px;
}
/* ------ */
.main-card-container{
    width: 100%;
    margin: 0 auto;
    background-color: white;
}  
.m-c-wrapper{
    width: 90%;
    margin: 0 auto;
    background-color: white;
}
.card-m{
    display: flex;
    gap: 20px;
    padding:17px 12px;
    height: 770px;
  }
  .card1{
    background-color: rgb(213, 213, 213);
    height: 100%;
    width: 70%;
    border-radius: 30px;
    padding-left: 0px;
  }
  .card2{
    height: 100%;
    width: 30%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .sub1{
    background-color: rgb(213, 213, 213);
    height: 50%;
    width: 25;
    border-radius: 30px;
  }
  .sub2{
    background-color: rgb(213, 213, 213);
    height: 50%;
    width: 25;
    border-radius: 30px;
  }
  /* ---- */
  /* ---banner-1-css */
  .b-1-container{
    width: 100%;
    margin: 0 auto;
    background-color: rgba(58, 71, 84, 1);
  }
  .b-1-wrap{
    width: 90%;
    margin: 0 auto;
    background-color: rgba(58, 71, 84, 1);
    font-size: larger;
    color: white;
  }
  .list{
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
.fotter-1{
    list-style-type: none;
}
.fotter-1 ul{
    list-style-type: none;
}
.list li{
    display: flex;
    gap: 35px;
    padding: 15px;
    align-items: center;
    font-size: 29px;
   
}
.list-heading h1{
    font-weight: 250;
    font-size: 1.5rem;
}
.list-heading p{
    color: #8b9198;
    font-size: 1.5rem;
}
.list li  i{
    height: 15px;
    width: 50px;
    font-size: 40px;
    margin-bottom: 25px;
    
}
.main-fotter{
    font-size: larger;
    color: white;
    background-color:rgb(58, 71, 84);
}
.bo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
    border: 3px solid blue;
    border-radius: 50%;
}
/* ----- why-card---- */
.w-container{
    width: 100%;
    margin: 0 auto;
    background-color: white;   
}

.w-wrap{
    width: 90%;
    margin: 0 auto;
    background-color: white;
    display: flex;
    flex-direction:column;
    align-items: center;
    gap: 4rem;
    width: 100%;
    padding: 20px;
    margin-top: 40px;
}
.why-main {
    display: flex;
    flex-direction:column;
    align-items: center;
    gap: 18px;
    width: 100%;
    padding: 20px;
}
.whycontent{
    font-weight: 10;
}
.why-buttons  {
    display: flex;
    position: relative;
 
}
.why-buttons button{
    padding: 18px 25px;
    border: none;
    font-size: large;
}
.why-card1{
    position: relative;
    display: inline-block;
    height: 150px;
    width: 150px;
    background-color: black;
    flex-shrink: 0;
    height:450px ;
    width: 450px;
    border-radius: 20px;
}
.why-card{
    display: flex;
    gap: 30px;
    overflow-x: auto;
    overflow-y: hidden;
    width: 90%;
 

}
.why-card-hr{
    width:200px;
    height: 2px;
    background-color: red;
}
.why-b-1{
    background-color: #0D52D6;

   
    
}
.arrow{
    font-size: 45px;
    color: #0D52D6;
    position: absolute;
    top: 38px;
}
.why-head{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 23px;
}
.why-head h1{
    font-size: 45px;
}
.whycontent{
    text-align: center;
    padding-left: 20rem;
    padding-right: 20rem;
}
.wc{
    background-color: #d3d6da;
    color: black;
}
/* ------ */
/* --f-p-css */
.f-p-container{
    width: 100%;
    margin: 0 auto;
    background-color:white
}
.f-p-wrap{
    width: 90%;
    margin: 0 auto;
    background-color: white
}
/* --f-0-b-css */
.f-o-p{
    width: 100%;
    margin: 0 auto;
    background-color:white
}
.f-o-wrap{
    width: 90%;
    margin: 0 auto;
    background-color: white
}
.why-buttons button{
    color: #ffff;
}
/* --main-fotter-- */
.fotter-container{
    width: 100%;
    margin: 0 auto;
    background-color:white   
}
.fotter-wrap{
    width: 90%;
    margin: 0 auto;
    background-color: white   
}
.zero{
    width: 100%;
    height: 453px;
  
}
.zero-head{
    width: 100%;
    height: 15%;
    background-color: black;
}
.zero-main{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 2px;

}
.zm-1
{
    width: 25%;
    height: 100%;
    border-right:1px solid black;

}

.zm-1 input{
    height: 50%;
    font-size: x-large;
}
.zm-1 button{
    font-size: x-large;
}
.zm-2
{
    width: 25%;
    height: 100%;
    border-color: white;
}
.zm-3
{
    width: 25%;
    height: 100%;
}
.zm-4
{
    width: 25%;
    height: 100%;
}
.zm-list{
    list-style-type: none;
    color: blue;
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 40px;
}
.zm-list button{
    background-color: rgb(76, 76, 248);
    color: white;
}
.about-h{
    font-size: 25px;
    color: black;
}
.zm-list li {
    padding: 5px;
    font-size: 32px;
}
.fob-hr{
    width: 100%;
    height: 1px;
    background-color: red;
}
.hr{
    width: 76px;
    height: 1px;
    background-color: red;
    margin-left: 6px;
}

/* --social-- */
.social-container{
    width: 100%;
    margin: 0 auto;
    background-color:rgb(241, 240, 239)   
}
.social-wrap{
    width: 90%;
    margin: 0 auto;
    background-color: rgb(241, 240, 239)    }
.socials{
    padding: 1rem;
    background-color:#f8f8f8;
}
.social-icons{
    padding: 1.5rem;
}
.social-icons ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 4rem;
    font-size: 3.5rem;
}
/* -- last- banner */
/* -- last- banner */
.lb-container{
    width: 100%;
    margin: 0 auto;
    background-color:rgb(58, 71, 84);
}
::-webkit-scrollbar{
    display: none;
  }
.lb-wrapper{
    width: 90%;
    margin: 0 auto;
    background-color:rgb(58, 71, 84);
    padding: 19px;
   
.hr{
    width: 76px;
    height: 1px;
    background-color: red;
   margin-top: 5px;
}
.cards{
 width: 100%;
 height: 170px;
 color: black;
 display: flex;
    gap: 25px;
 background-color: rgb(58, 71, 84);   
 border-radius: 2px;
 margin-bottom:58px;
 overflow-x: auto;
}
 
}
.card-1{
    height: 100%;
    width: 27%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2px;
   flex-shrink: 0;
}
.card-i{
    height: 100%;
    width: 25%;
    background-color: white;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .card-content{
    height: 100%;
    width: 75%;
    background-color:white; 
    display: flex;
    flex-direction: column;
   padding: 0px;
    justify-content: space-evenly;
    font-size: 36px;
    padding-left: 9px;
 }

.card-main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 52px;
    height: 340px;
    margin-top: 16px;
    padding: 2px;
    
}
.lb-head span{
    font-size: 45px;
}
 .card-i img{
    height: 70%;
    width: 70%;
    border-radius: 50%;
} 
/* -- improved-gallery-- */
.ig-container{
    width: 100%;
    margin:0 auto;
    background-color: rgb(58, 71, 84);
}
.ig-content {
    text-align: center;
    
}
.ig-wrapper{
    width: 90%;
    margin: 0 auto;
    background-color: rgb(58, 71, 84);
}
.ig-one{
    background-color:rgb(58, 71, 84);
    width: 100%;
    height: 446px;
}
.ig-gallarey{
    display: flex;
    height: 446px;
     flex-direction: column;
      justify-content: space-around; align-items: center;
      gap: 22px;
       background-color:  rgb(58, 71, 84); gap: 10px;
       padding: 10px;
       padding-top: 17px;   
}
.ig-heading{
    font-size: 40px;
    color: white;
     font-weight: 500 ;
     margin-top: 10px;
     padding: 5px;
}
.ig-hr{
    width: 180px;
    height: 2px;
    background-color: red;
}
.ig-h{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   padding: 8px;
    gap: 8px;
}
.ig-shop-cards{
    display: flex; 
    justify-content: center;
     align-items: center;
     gap: 8px; 
     padding: 10px;
      margin-bottom: 1px;   
      width: 100%;
      overflow-x: auto;
}
/* -- shop-by-brand */
/* -- shop-by-brand */
.sbb-container{
    width: 100%;
    margin: 0 auto;
}
.sbb-wrapper{
    width: 90%;
    margin: 0 auto;
}
.shop-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:white;
    width: 100%;
    height: 500px;
    gap: 39px;
    padding-top: 54px ;
    overflow: hidden;
  }
  /* .sc-1{
    height: 250px; */
    /* width: 250px;
    width: 100%; ✅ Make it responsive
    max-width: 250px; /* ✅ Set a maximum width 
    height: 250px;
    background-color: black;
    font-weight: 300;
    font-size: large;
    border-radius: 10px;
  } */
  .shop-cards{
    display: flex;
    gap: 10px;
    padding-top: 10px
  }
  .shop-head{
    font-weight: 900;
    font-size: xx-large;
  }
  .shop-hr{
    width: 150px;
    background-color: red;
    height: 3px;
    font-weight: 500;
  }
  .sc-1 img {
    object-fit: cover;
    height: 250px;
    width: 250px;
    border-radius: 50px;
}
.owl-divs{
  width: 200px;
  height: 200px;
  background-color: black;
}
.owl-divs {
  width: 200px; 
  height: 200px;
  background-color: black;
  margin: 0; 
  padding: 0;
  border-radius: 50%;
}
.owl-stage {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.owl-divs img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
  /* --from-our-blog-css */
.f-o-p-container{
    width: 100%;
    margin: 0 auto;
    background-color:white
}
.f-o-wrap{
    width: 90%;
    margin: 0 auto;
    /* background-color:rgb(241, 240, 239) */
    

}
.why-main-f {
    display: flex;
    flex-direction:column;
    align-items: center;
    gap: 25px;
    width: full;
}
.why-buttons-f  {
    display: flex;
    padding: 6px;
    position: relative;
}
.why-buttons-f button{
    padding: 15px 20px;
    border: none;
}
.why-card1-f{
    height: 100px;
    width: 100px;
    background-color: black;
    flex-shrink: 0;
    height:300px ;
    width: 250px;
    border-radius: 20px;
}
.why-card-f{
    display: flex;
    gap: 5px;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    height:420px;
    padding:20px;
    margin-bottom: 30px;
}
.product-c-main{
    flex-shrink: 0;
}
.whycontent-f{
    font-size: 30px;
}
.why-head{
    font-size: large;
}
.from-our-blog-hr{
    width: 200px;
    height: 2px;
    background-color: red;
}
.see-all-button{
    background-color: blue;
    padding: 10px;
    color: white;
    border: none;
}
.arrow-f{
    font-size: 45px;
    color: #0D52D6;
    position: absolute;
    top: 47px;
}
.fob-main{
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fab-maim-c{
    padding: 5px;
}
.why-head-f{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;

}
.why-head-f h1{
    font-size: 50px;
}
.why-buttons-f button{
    font-size:25px ;
}
.f-o-b-hr{
    width: 200px;
    height: 1px;
    background-color: red;
}
.why-head-f h1{
    padding-top: 15px;
}
.fotter-container{
    margin: 0 auto;
    width: 100%;

}
.fotter-wrapper{
    margin: 0 auto;
    width: 90%;
}
.foot-last{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color:  rgb(58, 71, 84);
}
.foot-last p{
    font-size: 2rem;
    color: white;
}
.foot-last ul{
    list-style-type: none;
    display: flex;
    gap: 3rem;
    font-size: 2rem;
}
.foot-last ul a{
    color: #0D52D6;
}
.fooot{
    display: flex;
    justify-content: space-between;
}

/* testimonial */

.test-wrapper{
    margin: 0 auto;
    width: 90%;

}
.test-card p {
    font-size: 40px;
}
.test-card h3 {
    font-size: 35px;
}
.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16.5rem;
    padding: 2rem;
}
.about h1{
    font-weight: 700;
    font-size: 3rem;
    /* font-weight: 200;
    font-size: 1.6rem;
    color: rgba(139, 145, 152, 1); */
}
.about p{
    font-weight: 200;
    font-size: 1.6rem;
    color: rgba(139, 145, 152, 1);
  
}
.about-para{
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 20rem;
    padding-right: 20rem;
}
.testimonial{
    padding: 0rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.test{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 30px;   
    width: 83.8%; 
}

.test-card{
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: white;
    border-radius: 0.5rem;
    width: 600px;
    gap: 1rem;
    
}
.carousel-item{
    display: flex;
    justify-content: center;
    /* margin: 0 auto; */
}
.test-card i{
    font-size: 3.9rem;
    margin-top: 30px;
}
.test-card p{
    font-size: 1.5rem;
    text-align: center;
    text-wrap: wrap;
}

.about-hr{
    width: 207px;
    height: 2px;
    background-color: red;
}
.about-head{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 19px;
}
/* --from-our-blog-new */
.fob-main-n{
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 12px;
}
.fab-main-c-n{
    padding: 5px;
}
.product-c-img-f-n{
    font-size: 24px;
}
.fab-main-h-n {
    font-size: 40px;
}
.fab-main-c-n{
    font-size:34px;
    text-align: center;
    padding: 40px;
}
.fib-main-foot-n{
    font-size:30px;
    background-color: rgb(113, 113, 253);
    color:white
    
}
.why-abs {
    position: absolute;
    top: 84%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    color: #8b9198;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 22px;
    border-radius: 5px;
}
/* feature-product */
.feature-product-main{
    width: 100%;
    margin: 0 auto;
    background-color: white;
}
.feature-product-wrapper{
    width: 90%;
    margin: 0 auto;
    background-color: white;   
}
.feat-why-main-f {
    display: flex;
    flex-direction:column;
    align-items: center;
    gap: 35px;
    width: full;
}
.feat-why-buttons-f  {
    display: flex;
    position: relative;
}
.feat-why-buttons-f button{
    padding: 18px 25px;
    border: none;
}
.why-card1-f{
    height: 100px;
    width: 100px;
    background-color: black;
    flex-shrink: 0;
    height:300px ;
    width: 250px;
    border-radius: 20px;
}
.feat-why-card-f{
    display: flex;
    gap: 5px;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    height:646px;
    padding:20px
}
.product-c-main{
    flex-shrink: 0;
}
.why-head{
    font-size: large;
}
.from-our-blog-hr{
    width: 200px;
    height: 2px;
    background-color: red;
}
.see-all-button{
    background-color: blue;
    padding: 10px;
    color: white;
    border: none;
}
.fob-main{
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fab-maim-c{
    padding: 5px;
}
.feat-why-head-f{
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.feature-hr{
    width: 200px;
    height: 1px;
    background-color: red;
}
.feat-whycontent-f{
    font-size:larger;
}
.product-c-main {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    width: 450px;
    height: 642px;
    padding: 10px;
}
.product-c-img {
    height: 50%;
    background-color: pink;
    overflow: hidden;
    object-fit: scale-down;
}
.product-c-img img {
    object-fit: cover;
    width: 100%;
}
.product-c-img-f {
    height: 10%;
    background-color: rgb(139, 145, 152);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 27px;
    padding: 18px;
}
.product-c-b {
    height: 30%;
    background-color: rgb(240, 242, 245);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 18px;
}
.product-c-foot {
    height: 10%;
    background-color: rgb(139, 145, 152);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
}
.feat-why-buttons-f button {
    font-size: large;
}
/* feature category */
#Featured-category {
    background-color: white;
  }
  .featured-category-left div{

  }
  /* Fixed card */
  #Featured-category #Category-cards {
    display: flex;
    width: 90%;
    background-color: blue;
  }
  
  #Featured-category #Category-cards .cardLeft {
    width: 20%;
    text-align: left;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 1em 1.2em 2.4em 1.2em;
    flex-direction: column;
    gap: 0.6em;
    font-size: 30px;
    background-color: #f6f6f6;
  }
  
  #Featured-category #Category-cards img {
    width: 100%;
    height: 100%;
    background-color: #d7dadf;
    display: flex;
    padding: 0 auto;
  }
  
  #Featured-category #Category-cards .cardLeft #imgdiv {
    width: 100%;
    height: 150%;
    background-color: #d7dadf;
    display: flex;
    padding: 0 auto;
  }
  .HEADING {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 40px;
  }
  .HEADING .card {
    overflow-y: hidden;
    height: 280px;
    border-radius: 8px;
    overflow: hidden;
    flex-shrink: 0;
    width: 18%;
    display: flex;
    box-shadow: none;
    position: relative;
  }
  .HEADING .card img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .HEADING .card button {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -15%);
    padding: 5px 8px;
    border-radius: 4px;
    border: 1px solid gray;
    background-color: white;
  }
  
  .HEADING h2 {
    font-weight: 700;
    font-size: 4.5vh;
    margin: 1.5em auto 0.8em auto;
  }
  
  .HEADING p {
    margin: 0.8em auto;
    padding: 0.5em 0 1.5em 0;
  }
  
  .HEADING h3 {
    color: orangered;
  }
  
  .btn-group {
    box-shadow: none;
    margin-bottom: 20;
  }
  #Featured-category #Category-cards .cardLeft a {
    text-decoration: underline;
    color: #103a8e;
  }
  
  /* Carousel cards*/
  #Featured-category #Category-cards .carousel {
    width: 80%;
    background-color: #ffffff;
    text-align: left;
    display: flex;

    padding: 1em 1.2em;
    flex-direction: column;
    gap: 0.6em;
    font-size: 25px;
  }
  
  #Featured-category #Category-cards .carousel #carousel-cards {
    overflow-x: auto;
    display: flex;
    gap: 1.5em;
    justify-content: space-between;
    height: 100%;
  }
  
  /* Single Card */
  #Featured-category #Category-cards .carousel #carousel-cards .movingCard {
    flex-shrink: 0;
    overflow: hidden;
    width: 25%;
    border: 0.1em solid gray;
    border-radius: 0.15em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    position: relative;
  }
  
  #Featured-category #Category-cards .carousel #carousel-cards .movingCard img {
    height: 60%;
    background-color: white;
    overflow: hidden;
  }
  .card-container-a{
    width: 100%;
    height: 100%;
    background-color: aqua;
    padding: 4px;
  }
  .cards-a{
    width: 27%;
    height: 100%;
    background-color: black;
  }
.new-hr{
    width: 120px;
    height: 1px;
    background-color: red;
}
